version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    restart: unless-stopped
    volumes:
      - ../blog.db:/app/blog.db
